function Cell.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 4
call Array.new 1
pop this 3
push argument 1
pop this 1
push argument 0
pop this 2
push argument 2
pop this 0
push pointer 0
call Cell.reset 1
pop temp 0
push pointer 0
return
function Cell.dispose 0
push argument 0
pop pointer 0
push this 3
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Cell.top 0
push constant 0
return
function Cell.right 0
push constant 1
return
function Cell.bottom 0
push constant 2
return
function Cell.left 0
push constant 3
return
function Cell.reset 0
push argument 0
pop pointer 0
push constant 0
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop this 4
push constant 0
return
function Cell.draw 2
push argument 0
pop pointer 0
push this 1
push this 0
call Math.multiply 2
pop local 0
push this 2
push this 0
call Math.multiply 2
pop local 1
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Cell.top 0
call Cell.isConnected 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push local 1
push local 0
push this 0
add
push constant 1
sub
push local 1
call Screen.drawLine 4
pop temp 0
label IF_FALSE0
push pointer 0
call Cell.right 0
call Cell.isConnected 2
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push this 0
add
push constant 1
sub
push local 1
push local 0
push this 0
add
push constant 1
sub
push local 1
push this 0
add
push constant 1
sub
call Screen.drawLine 4
pop temp 0
label IF_FALSE1
push pointer 0
call Cell.bottom 0
call Cell.isConnected 2
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push local 1
push this 0
add
push constant 1
sub
push local 0
push this 0
add
push constant 1
sub
push local 1
push this 0
add
push constant 1
sub
call Screen.drawLine 4
pop temp 0
label IF_FALSE2
push pointer 0
call Cell.left 0
call Cell.isConnected 2
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push local 1
push local 0
push local 1
push this 0
add
push constant 1
sub
call Screen.drawLine 4
pop temp 0
label IF_FALSE3
push constant 0
return
function Cell.fill 2
push argument 0
pop pointer 0
push this 1
push this 0
call Math.multiply 2
pop local 0
push this 2
push this 0
call Math.multiply 2
pop local 1
push argument 1
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 0
push this 0
add
push constant 1
sub
push local 1
push this 0
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Cell.connect 0
push argument 0
pop pointer 0
push argument 1
call Cell.top 0
lt
push argument 1
call Cell.left 0
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push argument 1
push this 3
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Cell.disconnect 0
push argument 0
pop pointer 0
push argument 1
call Cell.top 0
lt
push argument 1
call Cell.left 0
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push argument 1
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Cell.isConnected 0
push argument 0
pop pointer 0
push argument 1
call Cell.top 0
lt
push argument 1
call Cell.left 0
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push argument 1
push this 3
add
pop pointer 1
push that 0
return
function Cell.isVisited 0
push argument 0
pop pointer 0
push this 4
return
function Cell.setVisited 0
push argument 0
pop pointer 0
push argument 1
pop this 4
push constant 0
return
function Cell.getX 0
push argument 0
pop pointer 0
push this 1
return
function Cell.getY 0
push argument 0
pop pointer 0
push this 2
return
